* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: 1.4fr 1fr 1fr;
    grid-template-rows: 0.3fr 1.3fr 1.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "sigma-rizz-farm sigma-rizz-farm sigma-rizz-farm"
        "Clicker Upgrades Upgrades"
        "Rizz-and-Stats Upgrades Upgrades";
}

.sigma-rizz-farm {
    grid-area: sigma-rizz-farm;
    background-color: #095256;
    padding: 5px;
    text-align: center;
}

.Clicker {
    grid-area: Clicker;
    background-color: #087F8C;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

.Clicker p.clickerInfo {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 14pt;
}

#clickerDiv {
    align-items: center;
    justify-content: center;
    display: flex;
}

#clicker {
    width: 250px;
    margin: 3pt;
    border-radius: 10px;
}

#clickme {
    background-color: #16b15c;
    border-radius: 30px;
    padding: 3px;
}

#clickButton {
    background-color: #16b15c;
    border-radius: 20px;
    padding: 5px;
    margin: 3px;
    border: black;
}

.Upgrades {
    grid-area: Upgrades;
    background-color: #5AAA95;
}

#ug-items {
    padding: 10px;
}

/* Upgrade button styling */
.upgrade-item {
    font-size: 15pt;
    padding: 15px;
    margin: 5px;
    border-radius: 30px;
    align-items: center;
    background-color: #095256;
    border: solid white 3px;
    border-radius: 20px;
}

.upgrade-item:hover {
    font-size: 15pt;
    /* padding: 15px;
    margin: 5px;
    border-radius: 30px;
    align-items: center;
    background-color: #095256;
    border: solid white 3px;
    border-radius: 20px; */

}

.upgrade-item:onclick {
    /* font-size: 15pt;
    padding: 15px;
    margin: 5px;
    border-radius: 30px;
    align-items: center;
    background-color: #095256;
    border: solid white 3px; */
    border-radius: 20px;
}
/*  */

h2 {
    text-align: center;
}

.Rizz-and-Stats {
    grid-area: Rizz-and-Stats;
    background-color: #86A873;
    padding: 5px;
}

.upg-img {
    width: 75px;
    padding: 10px;
    border-radius: 20px;
    
}

#moyai {
    display: flex;
    width: 75px;
    padding: 10px;
    align-items: center;
}

#rizz-div {
    width: 40px;
}

/* Palettes: https://coolors.co/095256-087f8c-5aaa95-86a873 */