/* Apply font to entire site */
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

/*  */

/* Grid layout initialization */
.container {
    display: grid;
    grid-template-columns: 1.9fr 1fr 1fr;
    grid-template-rows: 0.3fr 0.7fr 1fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "sigma-rizz-farm sigma-rizz-farm sigma-rizz-farm"
        "Clicker Upgrades Upgrades"
        "Rizz-and-Stats Upgrades Upgrades"
        "how-to-play how-to-play how-to-play";
}

/* Div styling set by container */
.sigma-rizz-farm {
    grid-area: sigma-rizz-farm;
    background-color: #095256;
    padding: 5px;
    text-align: center;
    margin: 2px;
}

.Clicker {
    grid-area: Clicker;
    background-color: #087F8C;
    padding: 5px;
    align-items: center;
    justify-content: center;
    margin: 2px;
}

.Rizz-and-Stats {
    grid-area: Rizz-and-Stats;
    background-color: #86A873;
    padding: 5px;
    margin: 2px;
}

.Upgrades {
    grid-area: Upgrades;
    background-color: #5AAA95;
    margin: 2px;
    padding-bottom: 20px;
}

.how-to-play {
    grid-area: how-to-play;
    background-color: #095256;
    margin: 2px;
    padding: 20px;
}

/*  */

/* Individual element styling in div.Clicker */
/* Info styling */
.clickerInfo {
    font-size: 14pt;
    list-style-type: square;
}

/* Align whole button */
#clickerDiv {
    align-items: center;
    justify-content: center;
    display: flex;
}

/* Clicker image styling */
#clicker {
    width: 250px;
    margin: 3pt;
    border-radius: 10px;
    transition: transform 0.2s ease;
}

#clicker:hover {
    width: 270px;
    margin: 3pt;
    border-radius: 10px;
    transform: scale(1.005);
}

#clicker:active {
    width: 230px;
    margin: 3pt;
    border-radius: 10px;
    transform: scale(0.95);
}

/* Click Me! Director styling */
#clickme {
    background-color: #16b15c;
    border-radius: 30px;
    padding: 3px;
}

/* Style the color around the clicker */
#clickButton {
    background-color: #16b15c;
    border-radius: 20px;
    padding: 5px;
    margin: 3px;
    border: solid black 2px;
    transition: transform 0.2s ease;
}

#clickButton:hover {
    background-color: #86A873;
    border-radius: 20px;
    padding: 5px;
    margin: 3px;
    border: solid #095256 5px;
    transform: scale(1.05);
}

#clickButton:active {
    background-color: red;
    border-radius: 20px;
    padding: 5px;
    margin: 3px;
    border: solid black 3px;
    transform: scale(0.95);
}

/*  */

/* Upgrade and music button styling */
.upgrade-item,
.musicButton {
    font-size: 15pt;
    padding: 15px;
    margin: 5px;
    border-radius: 30px;
    align-items: center;
    background-color: #095256;
    border: solid white 3px;
    border-radius: 20px;
}

.upgrade-item:hover {
    font-size: 15pt;
    padding: 15px;
    margin: 5px;
    border-radius: 30px;
    align-items: center;
    background-color: #86A873;
    border: solid #087F8C 3px;
    border-radius: 20px;
}

.musicButton:hover {
    font-size: 15pt;
    padding: 15px;
    margin: 5px;
    border-radius: 30px;
    align-items: center;
    background-color: #087F8C;
    border: solid rgb(169, 105, 3) 3px;
    border-radius: 20px;
}

.upgrade-item:active,
.musicButton:active {
    font-size: 15pt;
    padding: 15px;
    margin: 5px;
    border-radius: 30px;
    align-items: center;
    background-color: red;
    border: solid black 3px;
    border-radius: 20px;
}

#ug-items {
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

/* Upgrade image styling */
.upg-img {
    width: 90px;
    padding: 10px;
    border-radius: 20px;

}

/* Align clicker title */

h2 {
    text-align: center;
}

#moyai {
    display: flex;
    width: 75px;
    padding: 10px;
    align-items: center;
}

#rizz-div {
    width: 40px;
}

/* Palettes: https://coolors.co/095256-087f8c-5aaa95-86a873 */